@media (min-width:320px) and (max-width:575px){
    .inputform {
      
        padding-left: 10px;
        
    } 
    button {
        padding: 16px 30px;
        border-radius: 30px;  
        cursor: pointer;
        margin-left: -30px;
    }
}